<nav class="home-nav" aria-label="Navigation principale iCarsoft">
  <ul class="home-nav__list">
    <li class="home-nav__item">
      <a class="home-nav__link" href="/c/bienvenue/4">
        <img class="home-nav__icon" src="{{theme-asset 'infos.svg'}}" alt="" aria-hidden="true">
        <span class="home-nav__label">Bienvenue</span>
      </a>
    </li>
    <li class="home-nav__item">
      <a class="home-nav__link" href="/c/nos-produits/5">
        <img class="home-nav__icon" src="{{theme-asset 'product.svg'}}" alt="" aria-hidden="true">
        <span class="home-nav__label">Nos produits</span>
      </a>
    </li>
    <li class="home-nav__item">
      <a class="home-nav__link" href="/c/par-marques/6">
        <img class="home-nav__icon" src="{{theme-asset 'brands.svg'}}" alt="" aria-hidden="true">
        <span class="home-nav__label">Par marques</span>
      </a>
    </li>
    <li class="home-nav__item">
      <a class="home-nav__link" href="/c/videos-tutos/7">
        <img class="home-nav__icon" src="{{theme-asset 'videos.svg'}}" alt="" aria-hidden="true">
        <span class="home-nav__label">Vidéos & tutos</span>
      </a>
    </li>
    <li class="home-nav__item">
      <a class="home-nav__link" href="/c/communaute/77">
        <img class="home-nav__icon" src="{{theme-asset 'community.svg'}}" alt="" aria-hidden="true">
        <span class="home-nav__label">Communauté</span>
      </a>
    </li>
  </ul>
</nav>


