{{#if settings.enable_home_nav}}
<nav class="icarsoft-home-nav" aria-label="iCarsoft quick links">
  <ul class="icarsoft-home-nav__list">
    <li class="icarsoft-home-nav__item">
      <a class="icarsoft-home-nav__link" href="{{settings.nav1_path}}">
        {{d-icon settings.nav1_icon}}
        <span class="icarsoft-home-nav__label">{{settings.nav1_label}}</span>
      </a>
    </li>
    <li class="icarsoft-home-nav__item">
      <a class="icarsoft-home-nav__link" href="{{settings.nav2_path}}">
        {{d-icon settings.nav2_icon}}
        <span class="icarsoft-home-nav__label">{{settings.nav2_label}}</span>
      </a>
    </li>
    <li class="icarsoft-home-nav__item">
      <a class="icarsoft-home-nav__link" href="{{settings.nav3_path}}">
        {{d-icon settings.nav3_icon}}
        <span class="icarsoft-home-nav__label">{{settings.nav3_label}}</span>
      </a>
    </li>
    <li class="icarsoft-home-nav__item">
      <a class="icarsoft-home-nav__link" href="{{settings.nav4_path}}">
        {{d-icon settings.nav4_icon}}
        <span class="icarsoft-home-nav__label">{{settings.nav4_label}}</span>
      </a>
    </li>
    <li class="icarsoft-home-nav__item">
      <a class="icarsoft-home-nav__link" href="{{settings.nav5_path}}">
        {{d-icon settings.nav5_icon}}
        <span class="icarsoft-home-nav__label">{{settings.nav5_label}}</span>
      </a>
    </li>
  </ul>
  <div class="icarsoft-home-nav__divider" aria-hidden="true"></div>
  </nav>
{{/if}}
